# Python Strings

In python string is a sequence of characters.

we use single quotes or double to represent a string in python.

strings are one of the most commonly used data types and they are used to represent text.

However you can perform various and use methods to manpulate and work with the strings.

A String is a data structure in Python Programming that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it.

Python String are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

In [15]:
#create string using double quotes
str1="python"

#creating string using single quotes
str2='python'

In [17]:
# If need any multi-line strings using """     """
str3="""This is a multi-line string."""
print(str3)

This is a multi-line string.

In [23]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

## string operations

In [54]:
# 1.concentation

str1="hello"
str2="world"
result=str1+str2
print(result)

helloworld

In [56]:
# 2.Repetition

str1="python "
result=str1*6
print(result)

python python python python python python

In [58]:
# 3.Indexing

my_string="python is so fun. "
print(my_string[4])
print(my_string[-5])

o
f

In [60]:
# 4.slicing

my_string="hellow world"

print(my_string[5:10])

w wor

## python format string

In [89]:
# 1.old style formatting (% operator)

# uses the percentage operator and placeholders
name="Nitish kumar"
age=22
place="visakhapatnam"
qualification="B.TECH"
Branch="Mechanical"
weight=54.5

formatted_string= " My name is %s . I am %d years old, I am from %s. I have completed my %s in %s Engineering and my weight is %f in kg." %(name,age,place,qualification,Branch,weight)
print(formatted_string)

 My name is Nitish kumar . I am 22 years old, I am from visakhapatnam. I have completed my B.TECH in Mechanical Engineering and my weight is 54.500000 in kg.

In [93]:
# 2.format method

# uses the format() method withplaceholders
name="Nitish kumar"
age=22
place="visakhapatnam"
qualification="B.TECH"
Branch="Mechanical"
weight=54.5

formatted_string= " My name is {} . I am {} years old, I am from {}. I have completed my {} in {} Engineering and my weight is {} in kg." .format(name,age,place,qualification,Branch,weight)
print(formatted_string)

 My name is Nitish kumar . I am 22 years old, I am from visakhapatnam. I have completed my B.TECH in Mechanical Engineering and my weight is 54.5 in kg.

In [97]:
# 3.string interpolation(f-string-python3.6 or later):
# usesf-strings, where expressions iside curly braces{} are evaluated and replaced

name="Nitish kumar"
age=22
place="visakhapatnam"
qualification="B.TECH"
Branch="Mechanical"
weight=54.5

formatted_string= f" My name is {name} . I am {age} years old, I am from {place}. I have completed my {qualification} in {Branch} Engineering and my weight is {weight} in kg."
print(formatted_string)

 My name is Nitish kumar . I am 22 years old, I am from visakhapatnam. I have completed my B.TECH in Mechanical Engineering and my weight is 54.5 in kg.

## String methods

### 1.len()
       returns th length of the string.

In [143]:
my_string="Python is fun"
length=len(my_string)
print(length)

13

### 2.lower/upper()
                   converts the string to lowercase / uppercase.

In [120]:
my_string="hellow"
string="HELLOW"
print(my_string.upper())
print(string.lower())

HELLOW
hellow

### 3.strip()
             removes leading and trailing white spaces.

In [56]:
my_string="  python  "
stripped_string=my_string.strip()
print(stripped_string)

python

### 4.replace()
               replaces a substring with another substring.

In [133]:
my_string="hellow world"
new_string=my_string.replace("world", "python")
print(new_string)

hellow python

### 5.split()
             split the string into a list of substring.

In [145]:
my_string="python is fun and python is good to learn."
words=my_string.split()
print(words)

['python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn.']

### 6.join()
            joins a list of string into a single string.

In [158]:
words=['python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn.']
my_string=" ".join(words)
print(my_string)

python is fun and python is good to learn.

### 7.Capitaize()
               converts the first character of the string to a capital(uppercase)letter.

In [3]:
name="nitish kumar"
capital_name=name.capitalize()
print(capital_name)

Nitish kumar

### 8.find()
            Returns the lowest index of the substring if it is found.

In [6]:
word = 'find me if you can'
print(word.find('me'))

5

### 9.index()
              Returns the position of the first occurrence of a substring in a string.

In [15]:
string = 'random'
print(string.index('a'))

1

### 10.islower()
                Checks if all characters in the string are lowercase.

In [25]:
string="apple"
name="Mahesh"
print(string.islower())
print(name.islower())

True
False

### 11.isupper()
               Checks if all characters in the string are uppercase.

In [30]:
string="Apple"
name="MAHESH"
print(string.isupper())
print(name.isupper())

False
True

### 12.rfind()
              Right aligns the string according to the width specified.

In [75]:
word = 'find me if you can'
print(word.rfind('u'))

13

### 13.rsplit()
              Split the string from the right by the specified separator.

In [40]:
my_string="python is fun and python is good to learn."
words=my_string.rsplit()
print(words)

['python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn.']

### 14.swapcase()
                 Converts all uppercase characters to lowercase and vice versa.

In [65]:
string="ApPlE"
print(string.swapcase())   
 
string = "apple"
print(string.swapcase())  
 
string = "APPLE"
print(string.swapcase())

aPpLe
APPLE
apple

### 15.title()	
              Convert string to title case.

In [68]:
string="python is good"
print(string.title())

Python Is Good

### 16.zfill()
              Returns a copy of the string with ‘0’ characters padded to the left side of the string.

In [73]:
string="python is good"
print(string.zfill(20))

000000python is good

### 17.endswith()
                 Returns “True” if a string ends with the given suffix.

In [82]:
string="python is good"
print(string.endswith("good"))

True

### 18.center()
               Pad the string with the specified character.

In [132]:
string="python is good"
print(string.center(50))
print(string.center(50))
print(string.center(125,'#'))

                  python is good
                  python is good
########################################################python is good#######################################################

### 19.casefold()
                Implements caseless string matching.

In [136]:
string="PYthOn Is GOoD"
print(string.casefold())

python is good

### 20.count()
             Returns the number of occurrences of a substring in the string.

In [146]:
string="PYthOn Is GOoD"
print(string.count("O"))

2

### 21.expandtabs()
                   Specifies the amount of space to be substituted with the “\t” symbol in the string.

In [157]:
string="python\tis\tgood"
print(string.expandtabs())

python  is      good

### 22.format()
               Formats the string for printing it to console.

In [162]:
name = "Ram"
age = 22
number=7
message = "My name is {} and I am {} years old. {} is my favorite number.".format(name, age,number)
print(message)

My name is Ram and I am 22 years old. 7 is my favorite number.

### 23.format_map()
                   Formats specified values in a string using a dictionary.

In [165]:
string= {'x':'Nitish', 'y':'Kumar'} 
print("{x}'s last name is {y}".format_map(string))

Nitish's last name is Kumar

### 24.isalnum()
                Checks whether all the characters in a given string is alphanumeric or not.

In [168]:
string = "apple123"
print(string.isalnum())

True

### 25.isalpha()
                Returns “True” if all characters in the string are alphabets.

In [175]:
string = "apple"
print(string.isalpha())

True

### 26.isdecimal()
                  Returns true if all characters in a string are decimal.

In [182]:
number= "105"
print(string.isdecimal())

True

### 27.isdigit()
                Returns “True” if all characters in the string are digits.

In [187]:
string = '15460'
print(string.isdigit())

True

### 28.isidentifier()
                     Check whether a string is a valid identifier or not.

In [190]:
string = "variable_456"
print(string.isidentifier())

True

### 29.isnumeric()
                  Returns “True” if all characters in the string are numeric characters.

In [193]:
string = "123456789"
result = string.isnumeric()
print(result)

True

### 30.startswith()
                   Returns “True” if a string starts with the given prefix.

In [204]:
string="python is good"
print(string.startswith("python"))

True