# Python Sets

In python a set is a collection of unique element,and it is defined using curly braces{} and seperated by commas.

sets are used to to store multiple items in a ssingle variable.

sets are unordered, mutable,and not allow duplicate elements.

sets provide a variety of methods for performing common set operations like union, intersection,difference and more

## Creating sets:

In [7]:
fruits={'apple','banana','orange'}

#converting a list ta a set
numbers=set([1,2,3,4,5,6])
print(numbers)

# duplicate items in a set

numbers={9,34,22,98,74,65,73,9,74,28}
print(numbers)

{1, 2, 3, 4, 5, 6}
{65, 34, 98, 9, 74, 73, 22, 28}

## Python set operations

Python set provide different built-in methods to perform mathematical set operations like union,intersection,subtraction and symetric difference.

### 1.union of two sets

The union of two sets A and B include all the elements of set A and B.

combines elements from two sets ,removing duplicates.=

In [18]:
A={1,3,5}
B={0,2,4}

#using |
print(A|B)

#using union()
print(A.union(B))

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}

## 2.set intersection

The intersection of two sets A and B include the common elements between set A and B.

Return common elements between two sets.

In [29]:
A={1,3,5,8,4,0}
B={1,2,3,0,5,4}

#using &
print(A&B)

#using intersection()
print(A.intersection(B))

{0, 1, 3, 4, 5}
{0, 1, 3, 4, 5}

## 3.Difference between Two sets

The difference between two sets A and B include elements of set A that are not present on set B.

Returns element that are in either of the set,but not in both.

In [189]:
A={2,3,5,9,0,4}
B={1,2,6,4,7}

#using -
print(A-B)
print(B-A)

#using difference()
print(A.difference(B))
print(B.difference(A))

{0, 9, 3, 5}
{1, 6, 7}
{0, 9, 3, 5}
{1, 6, 7}

## 4.set symmetric difference

The symmetric difference two sets A and B includes all elements of A and B without the common elements.

Returns elements that are in either of the sets ,but not in both.

In [157]:
A={2,3,5,7,8,4}
B={1,2,6,4,9}

#using A^B
print(A^B)

#using symmetric_difference()
print(A.symmetric_difference(B))

{1, 3, 5, 6, 7, 8, 9}
{1, 3, 5, 6, 7, 8, 9}

## Methods of sets

### 1.add()
           add an item to a set

In [8]:
numbers={9,5,7,2,7,7,8}
numbers.add(35)
print(numbers)

{2, 35, 5, 7, 8, 9}

### 2.update()
              It is used to update the set with items other collction types(lists, tuples, sets, etc)

In [120]:
companies={'microsoft','technologies'}
tech_companies={'apple','google','apple','mon','technologies'}
updated_companies=companies.update(tech_companies)
print(companies)

{'mon', 'technologies', 'google', 'apple', 'microsoft'}

### 3.remove() or discard()
                           removes the specified element from a set.

In [24]:
languages={'swift','java','python'}
languages.remove('java')
languages.discard('java')
print(languages)
print(languages)

{'swift', 'python'}
{'swift', 'python'}

### 4.clear()	
             Removes all elements from the set.

In [183]:
languages={'swift','java','python'}
languages.clear()
print(languages)

set()

### 5.copy()
            Returns a shallow copy of the set.

In [48]:
languages={'swift','java','python'}
languages2=languages.copy()
print(languages2)

{'swift', 'python', 'java'}

### 6.frozenset()	
                 Return an immutable frozenset object.

In [61]:
languages=frozenset(['swift','java','python'])
print('java'in languages)
print('c++'in languages)

True
False

### 7.isdisjoint()	
                  Checks whether the sets are disjoint or not.

In [90]:
A={4,6,8,9}
B={1,2,3}
C={1,4,5,7}
print(A.isdisjoint(B))
print(A.isdisjoint(C))

True
False

### 8.issubset()	
                Returns True if all elements of a set A are present in another set B.

In [73]:
A={1,2,3,4,5,6}
B={1,2,3}
C={1,4,5,7}
print(B.issubset(A))
print(C.issubset(A))

True
False

### 9.issuperset()	
                 Returns True if all elements of a set A occupies set B.

In [85]:
A={1,2,3,4,5,6}
B={1,2,3}
C={1,4,5,7}
print(A.issuperset(B))
print(C.issuperset(A))

True
False

### 10.pop()	
             Returns and removes a random element from the set.

In [96]:
A={1,2,3,4,5,6}
print(A.pop())

1

### 11.difference_update()	
                         Updates the existing caller set with the difference between two sets.

In [181]:
A={2,3,5,9,0,4}
B={1,2,6,4,7}

#using -=
A -= B
print(A)

#using difference_update()
A.difference_update(B)
print(A)

{0, 3, 5, 9}
{0, 3, 5, 9}

In [179]:
A={2,3,5,9,0,4}
B={1,2,6,4,7}

#using -=
B -= A
print(B)
#using difference_update()
B.difference_update(A)
print(B)

{1, 6, 7}
{1, 6, 7}

### 13.intersection_update()	
                          Updates the existing caller set with the intersection of sets.

In [177]:
A={1,3,5,8,4,0}
B={1,2,3,0,5,4}

#using &=
A &= B
print(A)

#using intersection()
A.intersection(B)
print(A)

{0, 1, 3, 4, 5}
{0, 1, 3, 4, 5}

### 14.symmetric_difference_update()	
                                   Updates the existing caller set with the symmetric difference of sets.

In [185]:
A={2,3,5,7,8,4}
B={1,2,6,4,9}

#using A^=B
A^=B
print(A)

{1, 3, 5, 6, 7, 8, 9}

In [175]:
#using symmetric_difference_update()
A={2,3,5,7,8,4}
B={1,2,6,4,9}
A.symmetric_difference_update(B)
print(A)

{1, 3, 5, 6, 7, 8, 9}