# Python Data Types

## 1.Numeric data type

### Integer data type:

                    This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals). In Python, there is no limit to how long an integer value can be.

#### Example

In [11]:
x = 25
print(x, type(x))

25 <class 'int'>

In [13]:
z = -78
print(z, type(z))

-78 <class 'int'>

In [17]:
y =100
print(y, type(y))

100 <class 'int'>

In [19]:
a = 50
print(a, type(a))

50 <class 'int'>

In [21]:
b = 0
print(b, type(b))

0 <class 'int'>

### Float data type:

                    This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.

#### Example

In [29]:
x = 7.8
print(x, type(x))

7.8 <class 'float'>

In [31]:
y = -33.3
print(y, type(y))

-33.3 <class 'float'>

In [33]:
z = 0.0
print(z, type(z))

0.0 <class 'float'>

In [29]:
a = -100-35.5
print(a, type(a))

-135.5 <class 'float'>

In [31]:
b = 77*5.3
print(b, type(b))

408.09999999999997 <class 'float'>

### complex data type:

#### Example

In [56]:
a = 2j+5j
print(a, type(a))

7j <class 'complex'>

In [58]:
b = 21j+52j
print(b, type(b))

73j <class 'complex'>

In [62]:
x = 3j+5.1j
print(x, type(x))

8.1j <class 'complex'>

In [64]:
y = 25j-32j
print(y, type(y))

-7j <class 'complex'>

In [66]:
z = 99j-120.54j
print(z, type(z))

-21.540000000000006j <class 'complex'>

### Boolean data type:

                      Booleans represent one of two values: True or False.

#### Example

In [33]:
a = (3!=2)
print(a, type(a))
b = (35<25)
print(b, type(b))
c= (99>72)
print(c, type(c))
d = (99==99)
print(d, type(d))
e = (35<72)
print(e, type(e))
f = (65<35)
print(f, type(f))
g = (7.5+3.5==11)
print(g, type(g))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

### Conversion Type:

                   Python defines type conversion functions to directly convert one data type to another which is useful in day-to-day and competitive programming.

In [46]:
# covert from int to float


a = 25
print(float(a))
rank = 1
print(float(rank))
weight = 54
print(float(weight))
age = 22
print(float(age))
marks = 10
print(float(marks))

25.0
1.0
54.0
22.0
10.0

In [48]:
# covert from float to int


a = 25.5
print(int(a))
rank = 1.2
print(int(rank))
weight = 54.5
print(int(weight))
age = 22.8
print(int(age))
marks = 10.5
print(int(marks))

25
1
54
22
10

In [50]:
# covert from int to complex


a = 25
print(complex(a))
rank = 1
print(complex(rank))
weight = 54
print(complex(weight))
age = 22
print(complex(age))
marks = 10
print(complex(marks))

(25+0j)
(1+0j)
(54+0j)
(22+0j)
(10+0j)

In [52]:
# covert from float to complex


a = 25.5
print(complex(a))
rank = 1.2
print(complex(rank))
weight = 54.5
print(complex(weight))
age = 22.8
print(complex(age))
marks = 10.5
print(complex(marks))

(25.5+0j)
(1.2+0j)
(54.5+0j)
(22.8+0j)
(10.5+0j)

In [54]:
# convert from complex to int or float


a = 25+2j
print(int(a))
rank = 1.2+5j
print(float(rank))
weight = 54.5+8j
print(int(weight))
age = 22.8-5j
print(float(age))
marks = 10.5*3j
print(int(marks))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'